.navbar {
  background-color: var(--white);
  padding: 20px 0;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links a {
  margin: 0 15px;
  color: var(--neutral-black);
  font-weight: 500;
}

.nav-links a:hover {
  color: var(--primary);
}

.nav-actions {
  display: flex;
  align-items: center;
  gap: 10px;
}